PORT=3000
PGADMIN_PORT=5050
DB_HOST=localhost
DB_PORT=5432
DB_NAME=proyecto2bd
DB_USER=proy3
DB_PASSWORD=secret
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=proy3@proyecto.com
PGADMIN_DEFAULT_PASSWORD=secret
APP_LOGIN_USER=proy3
APP_LOGIN_PASSWORD=secret
SESSION_SECRET=proyecto2-session-secret
